[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
notebook = "*"
langchain = "*"
openai = "*"
deeplake = "*"
sentence-transformers = "*"
flask-cors = "*"

[dev-packages]

[requires]
python_version = "3.11"
